<ion-header>
    <ion-toolbar >
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Header tab - text
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-tabs>
        <ion-tab-bar slot="top" >
            <ion-tab-button tab="tab7">
                <ion-label>Product</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="tab8">
                <ion-label>News</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="tab9">
                <ion-label>Map</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-content>
