<!-- lOGIN FROMA --COMPONENT 1 -->
<ion-page class="ion-page">
  <!-- Header -->
  
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{data.headerTitle}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Content -->
  <ion-content *ngIf="data != null" class="transparent">
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-no-padding ion-align-items-center">
        <ion-col class="ion-padding-horizontal" size="12" size-md="8" push-md="2"> 
          <!---Logo-->
          <div class="ion-text-center"> <img [src]="data.logo" class="ion-text-center" /> </div>
          <ion-item lines="none" class="ion-no-padding ion-margin-bottom transparent ion-margin-top">
            <ion-label> 
              <!---Logo Title-->
              <h1 class="ion-text-wrap text-size-xl text-color-accent font-bold">{{data.title}}</h1>
            </ion-label>
          </ion-item>
          <!---Form-->
          <form class="ion-margin-top" >
            <!---Input field username-->
            <ion-item class="ion-no-padding transparent" input lines="none">
              <ion-label class="text-size-xxs text-color-secondary font-regular" position="stacked">{{data.labelUsername}}</ion-label>
              <ion-input required type="text" [placeholder]="data.username" [(ngModel)]="item.username" [ngModelOptions]="{standalone: true}"></ion-input>
              <ion-icon *ngIf="!isUsernameValid" class="icon-font-sm error-color" name="remove-circle"></ion-icon>
            </ion-item>
            <!---Input field password-->
            <ion-item class="ion-no-padding transparent" input lines="none" [ngStyle]="{'margin-bottom': '15px'}">
              <ion-label class="text-size-xxs text-color-secondary font-regular" position="stacked">{{data.labelPassword}}</ion-label>
              <ion-input required type="password" [placeholder]="data.password" [(ngModel)]="item.password" [ngModelOptions]="{standalone: true}"></ion-input>
              <ion-icon *ngIf="!isPasswordValid" class="icon-font-sm error-color" name="remove-circle"></ion-icon>
            </ion-item>
            <p class="text-size-sm text-color-primary font-light ion-text-right"><a class="text-size-sm text-color-accent font-regular" (click)="onForgotPassword()">{{data.forgotPassword}}</a></p>
            <!---Login ion-button-->
            <ion-button expand="block" class="ion-margin-top button-default ion-text-capitalize" (click)="onLoginFunc()"> {{data.login}}</ion-button>
            <!---Login ion-button-->
            <div class="ion-text-left description">
              <p class="text-size-sm text-color-primary font-light">Dont have an account? </p> <ion-button class="x" (click)="goToSignup()">Signup</ion-button>
            </div>
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-page>
