<!---Theme Gallery for Full gallery 2-->
<ion-grid *ngIf="data != null">
  <ion-row>
    <ion-col class="ion-no-margin" size="12" size-md="6" *ngFor="let item of data.items;let i = index">
      <ion-card class="ion-no-margin background-size border-radius" [ngStyle]="{'background-image': 'url(' + item.image + ')'}" (click)="onItemClickFunc(item, i, $event)">
        <ion-card-content class="ion-text-center transparent">
          <h2 class="ion-text-wrap text-size-xl text-color-primary font-regular">{{item.title}}</h2>
          <h2 class="ion-text-wrap text-size-sm text-color-primary font-regular">{{item.subtitle}}</h2>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
