<ion-list class="border" *ngIf="data != null">
  <ion-item class="transparent" lines="none">
    <h2 class="text-size-xs text-color-secondary font-regular" slot="start">{{data.title}}</h2>
    <ion-badge class="new-category" slot="end">{{data.value}}</ion-badge>
  </ion-item>
  <ion-item class="transparent" lines="none">
    <ion-range [(ngModel)]="data.value" (ionChange)="onChangeFunc($event)">
    </ion-range>
  </ion-item>
</ion-list>
