<ion-item class="ion-no-padding transparent" *ngIf="data != null">
  <ion-label class="text-size-xs text-color-secondary font-regular ion-text-capitalize ion-padding-start">{{data.header}}</ion-label>
</ion-item>
<ion-item class="ion-no-padding transparent ion-margin-start ion-margin-bottom" *ngIf="data != null">
  <ion-label class="text-size-xs text-color-secondary font-regular">{{data.title}}</ion-label>
  <ion-select [(ngModel)]="data.selectedItem" multiple="false" (ionChange)="onChangeFunc($event)">
    <ion-select-option *ngFor="let item of data.items; let i= index" [value]="item.id">{{item.title}}
    </ion-select-option>
  </ion-select>
</ion-item>
