<!--Theme Fade in + Ken Burns-->
<ion-grid class="ion-no-padding">
  <ion-row>
    <ion-col size="12" class="ion-no-padding background-size gradient-image" [ngStyle]="{'background-image': 'url(' + data.backgroundImage + ')'}">
      <div class="logo">
        <img [src]="data.logo" />
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
