<ion-app>
<!-- Header -->
<ion-header>
    <ion-toolbar >
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-capitalize">{{data.toolbarTitle}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Content -->
  <ion-content>

    <!-- PAGE 1 -->
    <cs-drag-and-drop-list-layout-1
      *ngIf="isType(0)"
      [data]="data"
      (onItemClick)="onItemClick($event)">
    </cs-drag-and-drop-list-layout-1>

    <!-- PAGE 2 -->
    <cs-drag-and-drop-list-layout-2
      *ngIf="isType(1)"
      [data]="data"
      (onProceed)="onProceed($event)"
      (onItemClick)="onItemClick($event)">
    </cs-drag-and-drop-list-layout-2>

    <!-- PAGE 3 -->
    <cs-drag-and-drop-list-layout-3
      *ngIf="isType(2)"
      [data]="data"
      (onItemClick)="onItemClick($event)">
    </cs-drag-and-drop-list-layout-3>

  </ion-content>
</ion-app>
