<!--Theme Profile - Profie With Avatar-->
<ion-grid class="ion-no-padding" *ngIf="viewEntered">
  <ion-row *ngIf="data != null">
    <ion-col size="12">
      <ion-card class="ion-text-center no-box-shadow no-border-radius ion-no-margin">
        <ion-avatar>
          <img [src]="data.image" alt="">
        </ion-avatar>
        <ion-card-content>
          <h1 class="text-size-md text-color-primary font-regular">{{data.title}}</h1>
          <p class="text-size-xs text-color-secondary font-light">{{data.subtitle}}</p>
        </ion-card-content>
        <div class="social-share">
          <!-- Followers-->
          <ion-item class="transparent" lines="none" (click)="buttonClick()">
            <ion-label class="ion-text-center">
              <span class="text-size-xs text-color-accent font-regular">{{data.valueFollowers}}</span>
              <div class="clearfix"></div>
              <h2 class="text-size-xs text-color-accent font-regular">{{data.followers}}</h2>
            </ion-label>
          </ion-item>
          <!-- Following -->
          <ion-item class="transparent" lines="none" (click)="buttonClick()">
            <ion-label class="ion-text-center">
              <span class="text-size-xs text-color-accent font-regular">{{data.valueFollowing}}</span>
              <div class="clearfix"></div>
              <h2 class="text-size-xs text-color-accent font-regular">{{data.following}}</h2>
            </ion-label>
          </ion-item>
          <!-- Post -->
          <ion-item class="transparent" lines="none" (click)="buttonClick()">
            <ion-label class="ion-text-center">
              <span class="text-size-xs text-color-accent font-regular">{{data.valuePosts}}</span>
              <div class="clearfix"></div>
              <h2 class="text-size-xs text-color-accent font-regular">{{data.posts}}</h2>
            </ion-label>
          </ion-item>
        </div>
        <ion-row class="padding-half">
          <ion-col size="6" class="padding-half">
            <ion-button class="button-default ion-text-capitalize" expand="block">
              {{data.follow}}</ion-button>
          </ion-col>
          <ion-col size="6" class="padding-half">
            <ion-button class="button-default ion-text-capitalize" expand="block">
              {{data.message}}</ion-button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
    <!---- Category Name -->
    <ion-col class="ion-padding">
      <h2 class="ion-text-center ion-no-margin text-size-md text-color-secondary ion-text-uppercase font-bold">
        {{data.category}}</h2>
    </ion-col>
    <!-- List Post -->
    <ion-col size="12" class="ion-text-center"
    *ngFor="let item of data.items" (click)="onItemClickFunc(item, $event)">
      <ion-card class="ion-text-center no-border-radius no-box-shadow ion-no-margin">
        <ion-card-content class="ion-text-center">
          <span class="text-size-xs text-color-secondary font-bold ion-text-capitalize">
            {{item.category}}</span>
          <h2 class="ion-text-wrap text-size-md text-color-primary font-light ion-padding-top ion-padding-bottom">
            {{item.title}}</h2>
          <ion-button class="button-icon ion-text-capitalize"
          (click)="onLikeFunc(item, $event)">
            <ion-icon class=" icon-font-md icon-color-primary" slot="start"
            [ngClass]="{'active' : item.like.isActive}" [name]="item.like.icon">
            </ion-icon>
            {{item.like.number}} {{item.like.text}}
          </ion-button>
          <ion-button class="button-icon ion-text-capitalize"
          (click)="onCommentFunc(item, $event)">
            <ion-icon class="icon-font-md icon-color-primary" slot="start" [name]="item.comment.icon">
            </ion-icon>
            {{item.comment.number}} {{item.comment.text}}
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
