.background-size {
  position: relative;
  height: 300px;
ion-card {
  ion-item {
    --inner-padding-end: 0;
  }
}
  ion-card-header {
    position: absolute;
    z-index: 999;
    width: 100%;
    top: 0;
  }

  ion-card-content {
    position: absolute;
    z-index: 999;
    width: 100%;
    bottom: 0;
  }
}

.slider {
  overflow-x: scroll;
  display: -webkit-inline-box;
  display: flex;
  flex-direction: row;

  ion-card {
    margin: 4px 5px 4px 5px !important;
    position: relative;
    width: 200px;
    flex: none;
  }
}
