<!--Themes Simple -->
<ion-grid class="ion-no-padding">
  <ion-row>
    <ion-col class="ion-no-padding" size="12">
      <ion-list>
        <!-- Header-title -->
        <ion-list-header class="ion-margin-bottom border">
          <h1 class="text-size-xl text-color-primary font-bold ion-text-capitalize">{{data.title}}</h1>
        </ion-list-header>
        <!-- List -->
        <ion-item class="transparent" *ngFor="let entry of data.items">
          <ion-toggle slot="start" [value]="entry.id" (ionChange)="onItemClickFunc(entry)" [checked]="entry.isChecked">
          </ion-toggle>
          <ion-label>
            <h3 class="text-size-xs text-color-primary font-light">{{entry.subtitle}}</h3>
            <h3 class="text-size-md text-color-secondary font-light">{{entry.title}}</h3>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
