<!-- ANIMATION --COMPONENT 1 -->
<ion-grid class="ion-no-padding" *ngIf="data != null">
  <ion-row>
    <ion-col class="ion-no-padding" size="12">
      <ion-list appAnimateItems className="fadeInUp">
        <ion-item class="transparent animation-normal opacity-0"
        *ngFor="let entry of data;" (click)="onItemClickFunc(entry)">
          <!-- Avatar Image -->
          <ion-avatar class="gradient-image" slot="start">
            <img [src]="entry.image">
          </ion-avatar>
          <!-- Avatar Title -->
          <ion-label>
            <h2 class="ion-text-wrap text-size-md text-color-primary font-light">
              {{entry.title}}</h2>
            <h3 class="ion-text-wrap text-size-xs text-color-secondary font-light">
              {{entry.subtitle}}</h3>
          </ion-label>
          <ion-checkbox [(ngModel)]="entry.isChecked"></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
