<!-- ANIMATION --COMPONENT 6 -->
<ion-grid *ngIf="data && data.items">
  <ion-row appAnimateItems className="fadeIn">
    <ion-col size="12" size-sm="6" *ngFor="let item of data.items"
    class="animation-normal opacity-0">
      <ion-card class="ion-no-margin border-radius no-box-shadow ion-text-start"
      (click)="onItemClickFunc(item, $event)">
        <div class="background-size gradient-image"
        [ngStyle]="{'background-image': 'url(' + item.background + ')'}">
        </div>
        <div class="slider clearfix">
          <ion-card class="border-radius no-box-shadow background-size gradient-image"
          *ngFor="let item of item.gallery"
          [ngStyle]="{'background-image': 'url(' + item.image + ')'}">
          </ion-card>
        </div>
        <!--Card content-->
        <ion-card-content class="ion-no-padding">
          <ion-item class="ion-no-padding transparent ion-margin-bottom" lines="none">
            <ion-label>
              <h1 class="ion-text-wrap text-size-xl text-color-primary font-bold">
                {{item.title}}</h1>
              <span class="ion-text-wrap ion-float-start text-size-md text-color-secondary font-bold">
                {{item.price}}</span>
              <span class="ion-text-wrap text-size-p text-color-accent font-regular ion-margin-start">
                {{item.subtitle}}</span>
            </ion-label>
            <ion-button class="button-round ion-margin-start" shape="round" fill="outline" slot="end">
              {{item.buy}}
            </ion-button>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
