// Setting background size

.background-size {
  height: 300px;
  position: relative;
}

.info-block {
  margin-top: -70px;

  ion-avatar {
    margin: 10px auto;
    height: 120px;
    width: 120px;
    opacity: 1;
    z-index: 999;
  }
}

ion-item {
  --inner-padding-end: 0;
  z-index: 999;
}

.card-image {
  margin: 0 auto 8px;
  width: calc(100% - 8px);
  box-shadow: none;
}
