<!-- Themes Register + logo 1 -->
<ion-page class="ion-page">
  <!-- Header -->
  <ion-header>
    <ion-toolbar class="transparent">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="ion-text-capitalize">{{data.toolbarTitle}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Content -->
  <ion-content class="transparent" *ngIf="data != null">
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-align-items-center" *ngIf="data != null">
        <ion-col class="ion-padding-horizontal" size="12" size-md="8" push-md="2">
          <!---Logo-->
          <div class="ion-text-center"> <img [src]="data.logo" class="ion-text-center" /> </div>
          <ion-item lines="none" class="ion-no-padding ion-margin-bottom transparent ion-margin-top">
            <ion-label> 
              <!---Logo Title-->
              <h1 class="ion-text-wrap text-size-xl text-color-accent font-bold">{{data.title}}</h1>
            </ion-label>
          </ion-item>
          <!---Form-->
          <form class="ion-margin-top" >
            <!---Input field username-->
            <ion-item class="ion-no-padding transparent" input lines="none">
              <ion-label class="text-size-xxs text-color-secondary font-regular" position="stacked">{{data.lableUsername}}</ion-label>
              <ion-input required type="text" [placeholder]="data.username" [(ngModel)]="item.username" [ngModelOptions]="{standalone: true}"></ion-input>
              <ion-icon *ngIf="!isUsernameValid" class="icon-font-sm error-color" name="remove-circle"></ion-icon>
            </ion-item>
            <!---Input field password-->
            <ion-item class="ion-no-padding transparent" input lines="none">
              <ion-label class="text-size-xxs text-color-secondary font-regular" position="stacked">{{data.lablePassword}}</ion-label>
              <ion-input required type="password" [placeholder]="data.password" [(ngModel)]="item.password" [ngModelOptions]="{standalone: true}"></ion-input>
              <ion-icon *ngIf="!isPasswordValid" class="icon-font-sm error-color" name="remove-circle"></ion-icon>
            </ion-item>
            <!---Input field email-->
            <ion-item class="ion-no-padding transparent" input lines="none">
              <ion-label class="text-size-xxs text-color-secondary font-regular" position="stacked">{{data.lableEmail}}</ion-label>
              <ion-input required type="email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" [placeholder]="data.email" [(ngModel)]="item.email" [ngModelOptions]="{standalone: true}"></ion-input>
              <ion-icon *ngIf="!isEmailValid" class="icon-font-sm error-color" name="remove-circle"></ion-icon>
            </ion-item>
            <!---Input field country-->
            <ion-item class="ion-no-padding transparent" input lines="none">
              <ion-label class="text-size-xxs text-color-secondary font-regular" position="stacked">{{data.lableCountry}}</ion-label>
              <ion-input required type="text" [placeholder]="data.country" [(ngModel)]="item.country" [ngModelOptions]="{standalone: true}"></ion-input>
              <ion-icon *ngIf="!isCountryValid" class="icon-font-sm error-color" name="remove-circle"></ion-icon>
            </ion-item>
            <!---Input field city-->
            <ion-item class="ion-no-padding transparent" input lines="none">
              <ion-label class="text-size-xxs text-color-secondary font-regular" position="stacked">{{data.lableCity}}</ion-label>
              <ion-input required type="text" [placeholder]="data.city" [ngModelOptions]="{standalone: true}" [(ngModel)]="item.city"></ion-input>
              <ion-icon *ngIf="!isCityValid" class="icon-font-sm error-color" name="remove-circle"></ion-icon>
            </ion-item>
            <!---Register button-->
            <ion-button expand="block" class="ion-margin-top button-default ion-text-capitalize" (click)="onRegisterFunc()"> {{data.register}}</ion-button>
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-page>
