<!-- ANIMATION --COMPONENT 5 -->
<ion-grid class="ion-no-padding" *ngIf="data && data.items">
  <ion-row>
    <ion-col class="ion-no-padding ion-margin-top" size="12"
    (click)="onItemClickFunc(item, $event)">
      <ion-list class="ion-no-margin" appAnimateItems className="bounceInLeft">
        <ion-item class="transparent animation-normal opacity-0"
        *ngFor="let item of data.items">
          <!--Content Avatar-->
          <ion-avatar class="gradient-image">
            <img [src]="item.avatar">
          </ion-avatar>
          <!-- Ttile and Subtitle -->
          <ion-label class="ion-padding-start ion-margin-end">
            <h2 class="ion-text-wrap text-size-md text-color-primary font-light ion-text-capitalize">
              {{item.title}}</h2>
            <h3 class="ion-text-wrap text-size-xs text-color-secondary font-light">
              {{item.subtitle}}</h3>
          </ion-label>
          <h3 class="ion-text-wrap text-size-xs text-color-secondary font-light">
            {{item.detail}}</h3>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
