.background-size {
  height: 200px;
  position: relative;

  ion-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    img {
      max-width: 185px;
    }
  }
}
