<ion-app>
  <ion-split-pane when="md" contentId="main-content">
    <ion-menu side="start" contentId="main-content" type="overlay">
      <!-- Settings Toolbar -->
      <ion-header class="background-size xgradient-image"
      [ngStyle]="{'background-image': 'url(' + headerMenuItem.background + ')'}">
          <ion-item class="ion-text-center transparent" lines="none">
            <ion-label class="ion-text-center text-size-md text-color-light font-bold ion-text-wrap">
                <img class="ion-margin-bottom" [src]="headerMenuItem.image">
                <div  class="ion-margin-top clearfix padding-bottom ion-padding-top"></div>
                {{headerMenuItem.title}}
            </ion-label>
          </ion-item>
      </ion-header>
      <!-- Content -->
      <ion-content>
        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col size="12" class="ion-no-padding">
              <!-- Menu List -->
              <ion-list>
                <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
                  <ion-item class="transparent" [routerDirection]="'root'" (click)="openPage(p)">
                    <i class="icon {{p.icon}} icon-font-sm icon-color-accent"></i>
                    <ion-label class="ion-padding-start">
                      <h1 class="text-size-md text-color-primary font-light ">{{p.title}}</h1>
                    </ion-label>
                  </ion-item>
                </ion-menu-toggle>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
