/* Settings Scroll Segment
===========================================*/
// Setting scrollable toolbar
:host {
  --st-scrollable-toolbar-padding-left: 5px !important;
}
// Setting scroll button

.ion-color-primary {
  background: var(--cs-background-primary) !important;
  --ion-color-contrast: var(--cs-background-accent) !important;
}

super-tabs-toolbar {
  .icon-color-primary {
    color: var(--cs-icon-color-accent) !important;
    stroke: var(--cs-icon-color-accent) !important;
    fill: var(--cs-icon-color-accent) !important;
  }
}

.page1 {
  .background-size {
    height: 250px;

    ion-icon {
      background: var(--cs-background-accent) !important;
      padding: 8px;
      border-radius: 50%;
    }
  }

  ion-item {
    --inner-padding-end: 0;

    ion-label {
      align-self: start;

      .title-section {
        display: flow-root;
      }

      .icon-star-section {
        display: flex;

        ion-icon {
          margin: 0 !important;
        }
      }
    }
  }
}

.page3 {
  .rating {
    display: inline-flex;
  }
  ion-card {
    margin: 0 0 0 16px;
    padding: 8px 8px 8px 0;
  }
}
