<!-- Theme Segment - Segment List -->
<ion-page class="ion-page" *ngIf="viewEntered">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title *ngIf="data != null" class="ion-text-capitalize">
        {{data.toolbarTitle}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Content-->
  <ion-content>
    <super-tabs>
      <super-tabs-toolbar slot="bottom" scrollable>
        <super-tab-button *ngFor="let item of data.segmentHeader;">
          <ion-icon class="icon-font-md icon-color-primary" [name]="item.icon"></ion-icon>
          <ion-label class="text-size-xs text-color-accent font-regular ion-text-capitalize">
            {{item.text}}</ion-label>
        </super-tab-button>
      </super-tabs-toolbar>
      <super-tabs-container>

        <super-tab>
          <!--- SETTINGS PAGE1 SCREEN -->
          <ion-grid class="page1" *ngIf="data != null && data.page1 != null">
            <ion-row class="ion-text-center">
              <ion-col class="ion-no-padding" size="12">
                <!-- Card with avatar -->
                <ion-card class="ion-text-center avatar-section no-box-shadow ion-no-margin">
                  <!-- Avatar -->
                  <ion-avatar>
                    <img [src]="data.page1.image" alt="">
                  </ion-avatar>
                  <!-- Card content -->
                  <ion-card-content>
                    <!-- Avatar title -->
                    <h1 class="text-size-md text-color-primary font-regular ion-text-wrap">
                      {{data.page1.title}}</h1>
                    <!-- Avatar subtitle -->
                    <p class="text-size-xs text-color-secondary font-light ion-text-wrap">
                      {{data.page1.subtitle}}</p>
                  </ion-card-content>
                  <ion-item class="transparent ion-no-padding" lines="none">
                    <!-- Button message -->
                    <ion-label class="margin-half">
                      <ion-button class="button-default ion-text-capitalize" expand="block"
                      (click)="onMessageFunc($event)">
                        {{data.page1.buttonMessage}}</ion-button>
                    </ion-label>
                    <!-- Button follow -->
                    <ion-label class="margin-half">
                      <ion-button class="button-default ion-text-capitalize" expand="block"
                      (click)="onFollowFunc($event)">
                        {{data.page1.buttonFollow}}</ion-button>
                    </ion-label>
                  </ion-item>
                </ion-card>
              </ion-col>
              <ion-col size="12" class="ion-text-center ion-no-padding">
                <!-- Category -->
                <h2 class="text-size-md text-color-accent font-bold ion-padding-bottom
                ion-text-capitalize margin-half">{{data.page1.category}}</h2>
                <!-- Card with image -->
                <ion-card class="no-box-shadow no-border-radius image-section margin-half">
                  <ion-card-content class="ion-no-padding">
                    <ion-item class="transparent ion-no-padding" lines="none">
                      <ion-label class="ion-no-margin">
                        <div class="background-size border-radius"
                        [ngStyle]="{'background-image': 'url(' + data.page1.image1 + ')'}">
                        </div>
                      </ion-label>
                      <ion-label class="small-image ion-no-margin">
                        <div class="background-size border-radius ion-margin-bottom"
                        [ngStyle]="{'background-image': 'url(' + data.page1.image2 + ')'}">
                        </div>
                        <div class="background-size border-radius"
                        [ngStyle]="{'background-image': 'url(' + data.page1.image3 + ')'}">
                        </div>
                      </ion-label>
                    </ion-item>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </super-tab>

        <super-tab>
          <!--- SETTINGS PAGE2 SCREEN -->
          <ion-grid *ngIf="data != null && data.page2 != null" class="ion-no-padding page2">
            <ion-row>
              <ion-col size="12">
                <!-- List -->
                <ion-list>
                  <!-- List header -->
                  <ion-list-header class="ion-margin-start ion-padding-bottom border">
                    <span class="text-size-md font-regular text-color-accent
                    ion-text-capitalize">{{data.page2.allComments}}</span>
                  </ion-list-header>
                  <ion-item *ngFor="let item of data.page2.items"
                  (click)="onItemClickFunc(item, $event)">
                    <!-- Avatar -->
                    <ion-avatar slot="start">
                      <img [src]="item.image">
                    </ion-avatar>
                    <ion-label>
                      <div class="title-section">
                        <!-- Avatar title -->
                        <h3 class="text-size-md font-bold text-color-primary">
                          {{item.title}}</h3>
                        <!-- Time -->
                        <span class="text-size-xs font-light text-color-secondary">
                          {{item.time}}</span>
                      </div>
                      <div class="icon-star-section ion-padding-bottom">
                        <!-- Icon Rating Star -->
                        <ion-icon class="icon-color-accent icon-font-sm"
                        *ngFor="let item of item.iconsStars;let i = index" slot="start"
                        [name]="item.icon"></ion-icon>
                      </div>
                      <!-- Description -->
                      <h3 class="text-size-sm font-light text-color-secondary ion-text-wrap">
                        {{item.description}}
                      </h3>
                      <!-- Button like -->
                      <ion-button class="button-icon ion-text-capitalize">
                        <ion-icon class="icon-color-primary icon-font-sm" slot="start"
                        [name]="item.iconLike"></ion-icon>
                        {{item.buttonLike}}
                      </ion-button>
                      <!-- Button dislike -->
                      <ion-button class="button-icon ion-text-capitalize">
                        <ion-icon class="icon-color-primary icon-font-sm" slot="start"
                        [name]="item.iconDislike"></ion-icon>
                        {{item.buttonDislike}}
                      </ion-button>
                    </ion-label>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
          </ion-grid>
        </super-tab>

        <super-tab>
          <!--- SETTINGS PAGE3 SCREEN -->
          <ion-grid class="ion-no-padding page3"
          *ngIf="data != null && data.page3 != null">
            <ion-row>
              <ion-col size="12">
                <ion-item class="transparent">
                  <!--- Total Rating Icon -->
                  <div *ngFor="let item of data.page3.iconsStars; let i = index;">
                    <ion-icon class="icon-font-sm icon-color-accent"
                    [name]="item.iconStar">
                    </ion-icon>
                  </div>
                  <span class="text-size-md font-regular text-color-accent ion-padding-start">
                    {{data.page3.rating}}</span>
                </ion-item>
              </ion-col>
              <ion-col size="12">
                <ion-card class="no-box-shadow no-border-radius border"
                *ngFor="let item of data.page3.items; let i = index;"
                (click)="onItemClickFunc(item, $event)">
                  <ion-item class="transparent ion-no-padding" lines="none">
                    <ion-label>
                      <!--- Time -->
                      <p class="text-size-xs font-light text-color-secondary">
                        {{item.time}}</p>
                    </ion-label>
                    <!--- Rating Icon -->
                    <div class="rating">
                      <div *ngFor="let item of item.iconsStars; let i = index;">
                        <ion-icon class="icon-font-sm icon-color-accent"
                        [name]="item.iconStar">
                        </ion-icon>
                      </div>
                    </div>
                  </ion-item>
                  <ion-card-content class="ion-no-padding">
                    <!--- Title -->
                    <h2 class="text-size-md font-bold text-color-primary">
                      {{item.title}}</h2>
                    <!--- Description -->
                    <h3 class="text-size-p font-light text-color-secondary">
                      {{item.description}}
                    </h3>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </super-tab>

      </super-tabs-container>
    </super-tabs>
  </ion-content>
</ion-page>
