<!--Profile- Profile With Slider + Comments-->
<ion-grid class="ion-no-padding" *ngIf="viewEntered">
  <ion-row class="ion-align-items-center">
    <ion-col class="ion-align-self-start" size="12">
      <ion-card class="ion-text-center no-box-shadow no-border-radius ion-no-margin">
        <ion-item class="transparent" lines="none">
          <ion-avatar>
            <img [src]="data.image" alt="">
          </ion-avatar>
        </ion-item>
        <ion-item lines="none" class="ion-text-center transparent">
          <ion-label class="ion-text-wrap">
            <h1 class="text-size-md text-color-primary font-light">{{data.title}}</h1>
            <p class="text-size-xs text-color-secondary font-light">{{data.subtitle}}</p>
          </ion-label>
        </ion-item>
        <div class="social-share">
          <!-- Followers-->
          <ion-item class="transparent" lines="none" (click)="buttonClick()">
            <ion-label class="ion-text-center">
              <span class="text-size-xs text-color-secondary font-regular">{{data.valueFollowers}}</span>
              <div clearfix></div>
              <h2 class="text-size-xs text-color-secondary font-regular">{{data.followers}}</h2>
            </ion-label>
          </ion-item>
          <!-- Following -->
          <ion-item class="transparent" lines="none" (click)="buttonClick()">
            <ion-label class="ion-text-center">
              <span class="text-size-xs text-color-secondary font-regular">{{data.valueFollowing}}</span>
              <div clearfix></div>
              <h2 class="text-size-xs text-color-secondary font-regular">{{data.following}}</h2>
            </ion-label>
          </ion-item>
          <!-- Post -->
          <ion-item class="transparent"  lines="none" (click)="buttonClick()">
            <ion-label class="ion-text-center">
              <span class="text-size-xs text-color-secondary font-regular">{{data.valuePosts}}</span>
              <div clearfix></div>
              <h2 class="text-size-xs text-color-secondary font-regular">{{data.posts}}</h2>
            </ion-label>
          </ion-item>
        </div>
        <ion-row class="padding-half">
          <ion-col size="6" class="padding-half">
            <ion-button class="button-default ion-text-capitalize" expand="block">
              {{data.follow}}</ion-button>
          </ion-col>
          <ion-col size="6" class="padding-half">
            <ion-button class="button-default ion-text-capitalize" expand="block">
              {{data.message}}</ion-button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
    <ion-col class="ion-padding">
      <h2 class="ion-no-margin ion-text-uppercase text-size-xs text-color-primary font-bold ion-text-center">{{data.category}}</h2>
    </ion-col>
    <!-- Slider-->
    <ion-col class="ion-align-self-start" size="12">
      <ion-slides pager="true">
        <ion-slide *ngFor="let item of data.items;let i = index"
          (click)="onItemClickFunc(item, $event)">
          <ion-card class="ion-text-center ion-padding no-box-shadow no-border-radius ion-no-margin">
            <span class="text-size-xs text-color-secondary font-bold ion-text-capitalize">{{item.category}}</span>
            <h2 class="ion-text-wrap text-size-md text-color-primary font-light">{{item.title}}</h2>
            <ion-button class="button-icon ion-text-capitalize"
              (click)="onLikeFunc(item, $event)">
              <ion-icon class="icon-font-sm icon-color-primary" slot="start" [ngClass]="{'active' : item.like.isActive}"
              [name]="item.like.icon"></ion-icon>
              {{item.like.number}} {{item.like.text}}
            </ion-button>
            <ion-button class="button-icon ion-text-capitalize"
              (click)="onCommentFunc(item, $event)">
              <ion-icon class="icon-font-sm icon-color-primary" slot="start"
              [name]="item.comment.icon"></ion-icon>
              {{item.comment.number}} {{item.comment.text}}
            </ion-button>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row>
</ion-grid>
