/* Style component 3
========================================================*/

ion-grid {
  height: 100%;

  ion-row {
    height: 100%;

    ion-item {
      --background: var(--cs-background-primary);
      border-bottom: 1px solid var(--cs-background-border);
    }

    .item-has-focus,
    .item-has-value {
      border-bottom: 1px solid var(--cs-background-accent);
    }
  }
}
