<ion-app>
  <!-- Header -->
  
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{item.toolbarTitle}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Content -->
  <ion-content class="transparent">
    <ion-grid class="background-size gradient-image">
      <ion-row>
        <ion-col size="12">
          <div class="ion-text-center">
            <h2 class="text-size-xs text-font-md text-color-light">Welcome to Q1 Dashboard </h2>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>
