<!-- Content -->
<ion-grid size="12" class="ion-padding">
  <ion-row class="ion-no-padding" *ngIf="data != null">
    <ion-col size="12"  class="ion-text-center ion-align-self-start">
      <img [src]="data.imgs" alt="">
    </ion-col>
    <ion-col size="12" class="ion-align-self-center">
      <!-- Card Number -->
      <ion-item class="transparent ion-no-padding ion-margin-bottom" lines="none">
        <ion-input [placeholder]="data.cardNumber" type="number" [(ngModel)]="cardItem.cardNumber"></ion-input>
      </ion-item>
      <!-- Card Holder -->
      <ion-item class="transparent ion-no-padding ion-margin-bottom" lines="none" input>
        <ion-input [placeholder]="data.cardHolder" type="text" [(ngModel)]="cardItem.cardHolder"></ion-input>
      </ion-item>
      <!-- Card Data -->
      <ion-item class="transparent ion-no-padding ion-margin-bottom" lines="none" input>
        <ion-datetime [placeholder]="data.experienceDate" display-format="MM/YY" [(ngModel)]="cardItem.birth" [ngModelOptions]="{standalone: true}"></ion-datetime>
      </ion-item>
      <!-- Card Code -->
      <ion-item class="transparent ion-no-padding ion-margin-bottom" lines="none" input>
        <ion-input type="number" [placeholder]="data.code" [(ngModel)]="cardItem.code"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col class="ion-no-padding" size="12" align-self-end>
      <ion-button expand="block" class="ion-margin-top ion-text-capitalize button-default" *ngIf="data != null" (click)="onPayFunc()">
        {{data.button}}
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
