<!-- CHECK BOX --COMPONENT 3 -->
<ion-grid class="ion-no-padding">
  <ion-row>
    <ion-col class="ion-no-padding" size="12" *ngIf="data != null">
      <ion-list>
        <ion-item class="transparent" *ngFor="let entry of data" (click)="onItemClickFunc(entry)">
          <ion-label>
            <h2 class="ion-text-wrap text-size-md text-color-primary font-light">{{entry.title}}</h2>
            <h3 class="ion-text-wrap text-size-xs text-color-secondary font-light">{{entry.subtitle}}</h3>
          </ion-label>
          <h3 class="ion-text-wrap ion-padding-end text-size-xs text-color-secondary font-light">{{entry.detail}}</h3>
          <ion-checkbox [(ngModel)]="entry.isChecked"></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
