<ion-app>
  <!-- Header -->
  <ion-header >
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-capitalize">{{data.toolbarTitle}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Content -->
  <ion-content>

    <!-- PAGE 1-->
    <cs-check-box-layout-1
      *ngIf="isType(0)"
      [data]="data.items"
      (onItemClick)="onItemClick($event)">
    </cs-check-box-layout-1>

    <!-- PAGE 2-->
    <cs-check-box-layout-2
      *ngIf="isType(1)"
      [data]="data.items"
      (onItemClick)="onItemClick($event)">
    </cs-check-box-layout-2>

    <!-- PAGE 3-->
    <cs-check-box-layout-3
      *ngIf="isType(2)"
      [data]="data.items"
      (onItemClick)="onItemClick($event)">
    </cs-check-box-layout-3>

  </ion-content>
</ion-app>
