<!-- Theme Segment - Segment List -->
<ion-page class="ion-page" *ngIf="viewEntered">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title *ngIf="data != null" class="ion-text-capitalize">
        {{data.toolbarTitle}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Content-->
  <ion-content>
    <super-tabs>
      <super-tabs-toolbar slot="top" scrollable>
        <super-tab-button *ngFor="let item of data.segmentHeader;">
          <ion-label class="text-size-xs text-color-accent font-regular ion-text-capitalize">{{item.text}}</ion-label>
        </super-tab-button>
      </super-tabs-toolbar>

      <super-tabs-container>

        <super-tab>
          <!--- SETTINGS PAGE1 SCREEN -->
          <ion-grid class="ion-no-padding page1" *ngIf="data != null && data.page1 != null">
            <ion-row>
              <ion-col size="12">
                <!-- Card with avatar -->
                <ion-card class="ion-padding ion-text-center ion-no-margin
                  no-border-radius no-box-shadow info-section">
                  <!-- Avatar -->
                  <ion-avatar>
                    <img [src]="data.page1.image" alt="">
                  </ion-avatar>
                  <!-- Card with avatar content -->
                  <ion-card-content class="ion-text-center ion-no-padding">
                    <!-- Avatar title and subtitle -->
                    <h1 class="text-size-md text-color-light font-bold">
                      {{data.page1.title}}</h1>
                    <p class="text-size-xs text-color-light font-regular">
                      {{data.page1.subtitle}}</p>
                  </ion-card-content>
                  <div class="social-share">
                    <!-- Followers-->
                    <ion-item lines="none" class="transparent ion-no-padding">
                      <ion-label class="ion-text-center">
                        <span class="text-size-xs text-color-light font-bold">
                          {{data.page1.valueFollowers}}</span>
                        <h2 class="text-size-sm text-color-light font-regular">
                          {{data.page1.followers}}</h2>
                      </ion-label>
                    </ion-item>
                    <!-- Following -->
                    <ion-item lines="none" class="transparent ion-no-padding">
                      <ion-label class="ion-text-center">
                        <span class="text-size-xs text-color-light font-bold">
                          {{data.page1.valueFollowing}}</span>
                        <h2 class="text-size-sm text-color-light font-regular">
                          {{data.page1.following}}</h2>
                      </ion-label>
                    </ion-item>
                    <!-- Post -->
                    <ion-item lines="none" class="transparent ion-no-padding">
                      <ion-label class="ion-text-center">
                        <span class="text-size-xs text-color-light font-bold">
                          {{data.page1.valuePosts}}</span>
                        <h2 class="text-size-sm text-color-light font-regular">
                          {{data.page1.posts}}</h2>
                      </ion-label>
                    </ion-item>
                  </div>
                </ion-card>
              </ion-col>
              <ion-col size="6" class="padding-half">
                <!-- Button follow -->
                <ion-button expand="block" class="button-default ion-text-capitalize"
                (click)="onFollowFunc($event)">
                  {{data.page1.buttonFollow}}</ion-button>
              </ion-col>
              <ion-col size="6" class="padding-half">
                <!-- Button message -->
                <ion-button expand="block" class="button-default ion-text-capitalize"
                (click)="onMessageFunc($event)">
                  {{data.page1.buttonMessage}}</ion-button>
              </ion-col>
              <ion-col size="12">
                <!-- Card -->
                <ion-card class="ion-padding no-box-shadow no-border-radius ion-margin- border"
                *ngFor="let item of data.page1.items" (click)="onItemClickFunc(item, $event)">
                  <ion-item class="transparent ion-no-padding" lines="none">
                    <!-- Date -->
                    <span class="text-size-sm font-regular text-color-accent ion-text-capitalize" slot="end">{{item.subtitle}}</span>
                    <!-- Card title -->
                    <h3 class="text-size-sm font-regular text-color-secondary" slot="start">{{item.time}}</h3>
                  </ion-item>
                  <!-- Card title -->
                  <h3 class="text-size-md font-bold text-color-primary">
                    {{item.title}}</h3>
                  <!-- Card description -->
                  <h3 class="text-size-xs font-regular text-color-secondary ion-text-wrap">
                    {{item.description}}
                  </h3>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </super-tab>

        <super-tab>
          <!--- SETTINGS PAGE2 SCREEN -->
          <ion-grid class="ion-no-padding page2" *ngIf="data != null && data.page2 != null">
            <ion-row>
              <ion-col size="12">
                <ion-item *ngFor="let item of data.page2.items"
                (click)="onItemClickFunc(item, $event)">
                  <ion-avatar class="gradient-image" slot="start">
                    <img [src]="item.image" alt="">
                  </ion-avatar>
                  <ion-label>
                    <h2 class="ion-text-wrap text-size-md font-bold text-color-primary">
                      {{item.title}}</h2>
                    <h3 class="ion-text-wrap text-size-xs font-regular text-color-secondary">
                      {{item.description}}</h3>
                    <!-- Badge -->
                    <ion-badge>{{item.price}}</ion-badge>
                  </ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </super-tab>

        <super-tab>
          <!--- SETTINGS PAGE3 SCREEN -->
          <ion-grid class="ion-no-padding page3" *ngIf="data != null && data.page3 != null">
            <ion-row>
              <ion-col size="12">
                <ion-item *ngFor="let item of data.page3.items" (click)="onItemClickFunc(item, $event)">
                  <ion-avatar class="gradient-image" slot="start">
                    <img [src]="item.image" alt="">
                  </ion-avatar>
                  <ion-label>
                    <h2 class="ion-text-wrap text-size-md font-bold text-color-primary">
                      {{item.title}}</h2>
                    <h3 class="ion-text-wrap text-size-xs font-regular text-color-secondary">
                      {{item.description}}</h3>
                    <!-- Badge -->
                    <ion-badge>{{item.price}}</ion-badge>
                  </ion-label>
                  <!-- Button follow -->
                  <ion-button slot="end" class="button-default ion-text-capitalize">
                    {{item.button}}</ion-button>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </super-tab>
      </super-tabs-container>
    </super-tabs>

  </ion-content>
</ion-page>
