ion-toolbar {
  color: var(--cs-text-accent);
}

.ios {
  ion-back-button,
  ion-menu-button {
    --color: var(--cs-text-accent);
  }
}

.active {
  ion-toolbar {
    background: var(--cs-background-primary);
    color: var(--cs-text-accent);
  }

  .ios {
    ion-back-button,
    ion-menu-button {
      --color: var(--cs-text-accent);
    }
  }
}

.header-image {
  .background-size {
    height: 500px;
    position: relative;
    padding: 60px 0 0 0;
  }

  ion-label {
    flex: unset;
  }
}
