<ion-content>
  <ion-grid class="ion-no-padding" *ngIf="data != null">
    <ion-row>
      <ion-col class="ion-no-padding" size="12">
        <ion-list>
          <ion-list-header class="ion-margin-bottom border">
            <h1 class="text-size-xl font-bold text-color-accent">{{data.headerTitle}}</h1>
          </ion-list-header>
          <ion-item class="transparent" *ngFor="let item of data.items" (click)="onItemClickFunc(item, $event)">
            <!--Avatar-->
            <ion-avatar class="gradient-image">
              <img [src]="item.avatar">
            </ion-avatar>
            <ion-label class="ion-padding-start">
              <!--Title-->
              <h2 class="ion-text-wrap text-size-md text-color-primary font-light">{{item.title}}</h2>
              <!--Subtitle-->
              <h3 class="ion-text-wrap text-size-xs text-color-secondary font-light">{{item.subtitle}}</h3>
            </ion-label>
            <ion-button class="button-clear ion-text-capitalize" slot="end">
              {{item.follow}}
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
