<ion-app>
  <!-- Header -->
  <ion-header>
    <ion-toolbar >
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-capitalize">{{data.toolbarTitle}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Content -->
  <ion-content>

    <!-- PAGE 1 -->
    <cs-profile-layout-1
    *ngIf="isType(0)"
    (onComment)="onComment($event)"
    (onItemClick)="onItemClick($event)"
    (onLike)="onLike($event)"
    [data]="data">
    </cs-profile-layout-1>

    <!-- PAGE 2 -->
    <cs-profile-layout-2
    *ngIf="isType(1)"
    (onComment)="onComment($event)"
    (onItemClick)="onItemClick($event)"
    (onLike)="onLike($event)"
    [data]="data">
    </cs-profile-layout-2>

    <!-- PAGE 3 -->
    <cs-profile-layout-3
    *ngIf="isType(2)"
    (onComment)="onComment($event)"
    (onItemClick)="onItemClick($event)"
    (onLike)="onLike($event)"
    [data]="data">
    </cs-profile-layout-3>

    <!-- PAGE 4 -->
    <cs-profile-layout-4
    *ngIf="isType(3)"
    (onComment)="onComment($event)"
    (onItemClick)="onItemClick($event)"
    (onLike)="onLike($event)"
    (onComment)="onComment($event)"
    [data]="data">
    </cs-profile-layout-4>

    <!-- PAGE 5 -->
    <cs-profile-layout-5
    *ngIf="isType(4)"
    (onFacebook)="onFacebook($event)"
    (onInstagram)="onInstagram($event)"
    (onTwitter)="onTwitter($event)"
    [data]="data">
    </cs-profile-layout-5>

  </ion-content>
</ion-app>
