/* Settings Segments
===========================================*/

.page1 {

  .social-share {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
}

.page2 {
  ion-card {
    position: relative;
    height: 250px;
  }

  ion-item {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
