<!-- EXPANDABLE --COMPONENT 1 -->
<ion-app>
  <!-- Header -->
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-capitalize">{{data.toolbarTitle}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content *ngIf="data != null">
    <ion-grid class="ion-no-padding">
      <ion-row *ngIf="data != null">
        <ion-col size="12" class="ion-no-padding">
          <!-- Header List Big Image -->
          <ion-list-header class="border">
            <ion-label class="ion-padding-top ion-padding-bottom">
              <h1 class="text-size-xl font-bold text-color-primary">{{data.header}}</h1>
            </ion-label>
          </ion-list-header>
          <ion-list class="ion-no-margin">
            <ul  class="ion-no-margin collapsible ion-no-padding">
              <li *ngFor="let group of data.items;">
                <!-- List big image Header -->
                <div class="ion-no-padding collapsible-header" (click)="toggleGroup(group)">
                  <ion-item>
                    <ion-thumbnail>
                      <ion-img [src]="group.image" [alt]="group.title"></ion-img>
                    </ion-thumbnail>
                    <ion-label class="ion-padding-start ion-align-self-start">
                      <h2 class="ion-text-wrap text-size-md text-color-primary font-light">{{group.title}}</h2>
                      <h3 class="ion-text-wrap text-size-xs text-color-secondary font-light">{{group.description}}</h3>
                    </ion-label>
                  </ion-item>
                </div><!-- End List big image Header -->
                <!-- LIST OPEN ACCORDIAN BODY  -->
                <div class="item-accordion" [ngClass]="{'active': group.show }" [hidden]="!group.show">
                  <ion-item *ngFor="let item of group.items;" (click)="onItemClickFunc(item, $event)">
                    <!-- Avatar -->
                    <ion-thumbnail>
                      <img [src]="item.image" [alt]="item.title" />
                    </ion-thumbnail>
                    <ion-label class="ion-padding-start">
                      <!-- Subtitle Title -->
                      <h2 class="ion-text-nowrap text-size-md text-color-primary font-light">{{item.title}}</h2>
                      <!-- Subtitle Subtitle -->
                      <h3 class="ion-text-wrap text-size-xs text-color-secondary font-light">{{item.description}}</h3>
                    </ion-label>
                    <p class="text-size-xs text-color-secondary font-light">{{item.details}}</p>
                  </ion-item>
                </div>
                <!-- End List big image Body -->
              </li>
            </ul>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>
