<ion-grid class="ion-no-padding">
  <ion-row class="ion-padding-start ion-padding-end">
    <ion-col class="ion-no-padding" size="12">
      <ion-list class="ion-no-padding">
        <h2 class="text-size-xl text-color-accent font-bold">{{data.title}}</h2>
        <ion-item class="ion-no-padding transparent" input lines="none">
          <ion-label class="text-size-sm text-color-secondary font-regular" position="stacked">{{data.label}}</ion-label>
          <ion-input required type="text" [(ngModel)]="encodeData">
          </ion-input>
        </ion-item>
        <ion-button class="ion-margin-top button-default ion-float-end" 
          (click)="onButtonClickFunc()">
          {{data.buttonText}}
        </ion-button>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
