
.java {
  --background: #21E7B6 !important;
}

.malibu {
  --background: #5ac8fa !important;
}

.energy-yellow {
  --background: #F3E25F !important;
}

.terracotta {
  --background: #DC7054 !important;
}

.turquoise {
  --background: #37E6CA !important;
}

.san-marino {
  --background: #4D79AF !important;
}

.pizazz {
  --background: #FF9500 !important;
}

.red-orange {
  --background: #FF3B30 !important;
}


.supernova{
  --background: #FFCC00 !important;
}

.emerald {
  --background: #4CD964 !important;
}
