<ion-header [ngClass]="{'active': isHeaderVisible }">
  <ion-toolbar class="transparent">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">{{data.toolbarTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<!--- Theme Parallax Product -->
<ion-page class="ion-page">
  <!--- Header Big Image -->
  <ion-content scrollEvents="true" parallax-header *ngIf="data != null" (ionScroll)="scrolling($event)">
    <div class="header-image">
      <div class="ion-padding background-size ion-text-center gradient-image" [ngStyle]="{'background-image': 'url(' + data.headerImage + ')'}">
        <ion-card class="ion-no-margin no-box-shadow transparent">
          <ion-item class="transparent" lines="none">
            <!-- Avatar-->
            <ion-avatar class="ion-margin">
              <img [src]="data.avatar">
            </ion-avatar>
          </ion-item>
          <div class="clearfix"></div>
          <ion-item class="transparent" lines="none">
            <ion-label class="ion-no-margin ion-text-center ion-text-wrap">
              <!--- Parallax Subtitle -->
              <h1 class="text-size-xl text-color-light font-bold" *ngIf="data != null">{{data.title}}</h1>
              <!--- Parallax Title -->
              <h2 class="ion-no-margin text-size-md text-color-light font-regular" *ngIf="data != null">{{data.subtitle}}</h2>
            </ion-label>
          </ion-item>
        </ion-card>
      </div>
    </div>
    <!--Content-->
    <ion-grid class="ion-no-padding" *ngIf="data != null">
      <ion-row>
        <ion-col class="ion-no-padding" size="12">
          <ion-list class="ion-no-margin">
            <ion-item class="transparent" *ngFor="let item of data.items;let i = index" (click)="onItemClickFunc(item, $event)">
              <!--Content Avatar-->
              <ion-avatar>
                <img [src]="item.avatar">
              </ion-avatar>
              <!--Title and Subtitle -->
              <ion-label class="ion-padding-start">
                <h2 class="ion-text-wrap text-size-md text-color-primary font-light">{{item.title}}</h2>
                <h3 class="ion-text-wrap text-size-xs text-color-secondary font-light">{{item.subtitle}}</h3>
              </ion-label>
              <ion-button class="button-clear ion-text-capitalize" slot="end">
                {{item.button}}
              </ion-button>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-page>
